body{
    background-color: #273e17;
    background-image:
}
.grid-container{
    display:grid;
    border: 2px solid pink;
    border-radius: 20px;
    background-color:black;
    width:90%;
    height:600px;
    margin: 0 auto;
    margin-top: 100px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px;
    /* justify-content: center;
    align-content:flex-end; */
}

.cell{
    border: 1px solid white;
    border-radius:20px;
}
.intro{
    width:75%;
    height:200px;
    background-color: #fffbc1;
    text-align:center;
    margin: 0 auto;
    margin-top:100px;
}

#tip-score{
    grid-column: 2/span 4;
    background-color:white;
    
}
