body{
    background-color: #2c3d1c;
    background-image: url('/order-up/style/intrographic.jpg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}
.enter{
    /* margin-top:50%; */
    text-align:center;


} 
/*button*/
#clockin{
    width: 30%;
    height: 100px;
    font-family:'Reenie Beanie', cursive;
    font-size:300%;

}