body{
    background-color: #2c3d1c;
    background-image: url('/style/intrographic.jpg');
    background-size: 75%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}
.enter{
    margin-top:80%;
    text-align:center;
} 
/*button*/
#clockin{
    width: 30%;
    height: 100px;
    font-size: 40px;
}